@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Ubuntu&display=swap');

:root{
    ---cor-primaria: #2494f4;
    ---cor-secundaria: #230CF0;
    ---cor-terciaria:;

    ---fonte-primaria: 'Oswald', sans-serif;
    ---fonte-secundaria: 'Ubuntu', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.cabecalho{
    padding: 20px;
    border-bottom: 2px solid #2494f4;
}

.cabecalho__menu{
    display: flex;
    gap: 80px; 
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.cabecalho__menu__link{
    font-family: var(---fonte-secundaria);
    font-size: 24px;
    text-decoration: none;
    color: var(---cor-primaria);
    
}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.apresentacao__perfil{
    padding: 20px;
}

.apresentacao__nome{
    font-family: var(---fonte-primaria);
    color: var(---cor-secundaria);
    padding: 10px;
}

.apresentacao__texto{
    font-family: var(---fonte-primaria);
    color: var(---cor-secundaria);
    padding: 30px;
}

.apresentacao__links{
    padding: 10px;
}

.apresentacao__links__subtitulo{
    font-family: var(---fonte-secundaria);
    color: var(---cor-primaria);
    padding: 10px;
}

.apresentacao__links__redes{
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(---cor-primaria);
    font-family: var(---fonte-secundaria);
    display: inline-block;
    width: 80px;
    height: 40px;
    border: 2px solid var(---cor-primaria);
    border-radius: 10px;
    text-decoration: none;
}

.rodape{
    font-family: var(---fonte-secundaria);
    font-size: 20px;
    color: var(---cor-primaria);
    text-align: center;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #2494f4;
    padding: 10px;
}

@media(max-width: 600px){
    .cabecalho{
        padding: 5%;
    }

    .cabecalho__menu{
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }

    .apresentacao{
        padding: 5%;
    }

    .apresentacao__texto{
        width: auto;
    }

    .rodape{
        flex-direction: column;
    }
}